@{
    ViewData["Title"] = "КОНТАКТИ";
}
<h1 class="transparent11 text-center">@ViewData["Title"]</h1>
<div class="text-center">
    <img src="https://st2.depositphotos.com/1389715/5406/i/950/depositphotos_54069483-stock-photo-luxury-perfume-store.jpg" height="350" />
<h3 class="transparent11" style="margin-top:40px">Адрес: ул. А. Стамболийски "20", Карлово<br />
   Емейл: parfume_djasmin@gmail.com<br />
   Телефон: 0881111111</h3>
   </div>
